$grey: #808080;

.patternMaster{
    border: 1px solid $grey;
    padding: 1em;
}

.patternList{
    padding: 0px;
    margin: 0px;
    background: #222 none repeat scroll 0% 0%;
    color: #FFF;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    width: 100%;
    &:after{
        content: "";
        clear: both;
        display: block;
    }
    *{
        box-sizing: border-box;
    }
    a{
        font-size: 14px!important;
        color: $grey;
        text-decoration: none;
        display: block;
        line-height: 1;
        padding: 1em;
        transition: color 0.15s ease-out 0s;
        cursor: pointer;
        &:hover,
        &:focus{
            color: #FFF;
            background: rgba(255, 255, 255, 0.05) none repeat scroll 0% 0%;
        }
    }
    li{
        list-style: none;
        display: block;
        @media only screen and (min-width: 500px) {
            width: 50%;
            float: left;
        }
        @media only screen and (min-width: 1000px) {
            width: 33.3333%;
        }
        @media only screen and (min-width: 1500px) {
            width: 25%;
        }
    }

}
.patternGroup{
    clear: both;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.patternTitle{
    margin: 2em 0px;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    font-size: 14px!important;
    font-weight: normal;
    padding: 1em 0px;
    border-bottom: 1px solid $grey;
    a{
        font-size: 10px!important;
        color: $grey;
        text-decoration: none;
        float: right;
    }
}
