$grey: #808080;
$dark-grey: #222;
$white: #fff;

.styleGuideMaster{
    border: 1px solid $grey;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: $white;
    overflow: auto;
}

.styleGuideNav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 9999;
    padding: 2em 0;
    margin: 0;
    background: $dark-grey none repeat scroll 0% 0%;
    color: $white;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    overflow: auto;
    &:after{
        content: "";
        clear: both;
        display: block;
    }
    *{
        box-sizing: border-box;
    }
    a{
        font-size: 14px!important;
        color: $grey;
        text-decoration: none;
        display: block;
        line-height: 1;
        padding: 1em;
        transition: color 0.15s ease-out 0s;
        cursor: pointer;
        &:hover,
        &:focus{
            color: $white;
            background: $dark-grey none repeat scroll 0% 0%;
        }
    }
    li{
        list-style: none;
        display: block;
    }

}
.styleGuideGroups{
    position: absolute;
    left: 20%;
    padding: 2em;
}
.styleGuideGroup{
    clear: both;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.styleGuideTitle{
    margin: 2em 0px;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    font-size: 14px!important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1em 0px;
    border-bottom: 1px solid $grey;
    a{
        font-size: 10px!important;
        color: $grey;
        text-decoration: none;
        float: right;
    }
}
