$grey: #808080;
$dark-grey: #222;
$white: #fff;
$font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
$font-size: 14px;

.styleGuideMaster{
    border: 1px solid $grey;
    padding: 1em;
    overflow: auto;
    position: relative;
}

.styleGuideContents{
    margin: 0;
    font-family: $font-family !important;
    text-transform: uppercase;
    overflow: auto;
    ul{
        padding: 2em 0;
        margin: 0;
    }
    li{
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
    }
    a{
        font-size: $font-size !important;
        color: $grey !important;
        text-decoration: none;
        display: block;
        line-height: $font-size * 3 !important;
        padding: 0 1em;
        transition: color 0.15s ease-out 0s;
        cursor: pointer;
        &:hover,
        &:focus{
            color: $white !important;
            background: $dark-grey none repeat scroll 0% 0% !important;
        }
    }
}

.styleGuideGroups{
    left: 20%;
    padding: 2em;
}

.styleGuideGroup{
    clear: both;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

.styleGuideTitle{
    margin: 2em 0px;
    font-family: $font-family !important;
    font-size: $font-size !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1em 0px;
    border-bottom: 1px solid $grey !important;
}
